<section class="container">

    <!-- Line up the top buttons and search input -->
    <div class="top-bar">
        <button mat-flat-button class="new-message-button">New Message <mat-icon aria-hidden="false"
                aria-label="Email icon">mail</mat-icon></button>
        <input matInput type="text" class="search-input" placeholder="Search" [(ngModel)]="query" />

        <!-- Separate right-most buttons we can stack them neatly in mobile view -->
        <div class="top-button-group">
            <button (click)="clearCompleted()" mat-button>
                Delete
                <mat-icon aria-hidden="false" aria-label="Delete Icon">delete</mat-icon>
            </button>
            <button (click)="flagSelected()" mat-button>
                Flag
                <mat-icon aria-hidden="false" aria-label="Flag Icon">outlined_flag</mat-icon>
            </button>
            <button mat-button>
                Archive
                <mat-icon aria-hidden="false" (click)="clearCompleted()" aria-label="Archive Icon">archive</mat-icon>
            </button>
        </div>

    </div>

    <!-- Begin email list section -->
    <mat-list class="email-list">

        <!-- print list of emails with filter pipe logic and   -->
        <mat-list-item class="email-list-line" *ngFor="let email of emails | searchFilter: query"
            [ngClass]="{completed: email.isRead }">

            <!-- check if item is flagged and switch to highlight class -->
            <div [ngClass]="!email.isFlagged ? 'nohighlight' : 'highlight'" class="line-item">

                <input class="toggle" type="checkbox" [checked]="email.isRead" (click)="toggleEmail(email)">
                <mat-icon class="line-flag" aria-hidden="false" aria-label="Outlined Flag Icon">outlined_flag</mat-icon>
                <p class="new-email-alert"><strong>New Email Recieved</strong></p>
                <div class=message-body>
                    <label (dblclick)="email.editing = true">{{email.title}}</label>
                </div>
                <button class="more-button" mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <!-- Start popup menu -->
                <mat-menu #menu="matMenu">
                    <button (click)="destroyEmail(email)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    <button (click)="flagEmail(email)" mat-menu-item>
                        <mat-icon>outlined_flag</mat-icon>
                        <span>Flag</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>archive</mat-icon>
                        <span>Archive</span>
                    </button>
                </mat-menu>

            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

</section>