<div class="grid-container">

  <!-- Line up the buttons and input above the cards -->
  <div class="search-bar">
    <div class="sort-buttons">
      <button mat-stroked-button type="button" (click)="onSortDirectionLow()" color="primary">
        Sort by low price
      </button>
      <button mat-stroked-button type="button" (click)="onSortDirectionHigh()" color="primary">
        Sort by high price
      </button>
    </div>
    <div class="search-checkout">
      <input type="text" class="search-input" placeholder="Search" [(ngModel)]="query" />
      <div></div>
      <button mat-raised-button type="button" (click)="onSortDirectionHigh()" color="accent">
        Checkout <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
      </button>
    </div>
  </div>

  <!-- Begin Card Section -->
  <mat-grid-list cols="4" rowHeight="450px">

    <!-- Apply pipe logic to the for loop when retrieving product data  -->
    <mat-grid-tile *ngFor="
        let card of cards
          | async
          | searchFilter: query
          | sort: ['price', SortDirection]
      " [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">

        <!-- alt text should be loaded dynamically in production with real data -->
        <img mat-card-image class="card-image" src="{{ card.image }}" alt="Photo of a Canon Camera" />

        <div class="header-block">
          <h3>{{ card.title }}</h3>
          <h3 class="price">¥{{ card.price }}</h3>
        </div>
        <div class="card-content">
          Material Icons are available in five styles and a range of downloadable sizes and densities.
        </div>
        <div class="card-footer">
          <div>{{ card.description }}</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon">add_shopping_cart</mat-icon>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- End Card Section -->

</div>