* {
    box-sizing: border-box;
  }
  

  .col-1 {
    text-align: center;
    margin: 0;
  }

  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .aside {
    padding: 15px;
    text-align: left;
    font-size: 14px;
  }

  .half-input {
    width: 50%;
  }

  .full-input {
    width: 100%;
    height: 200px;
  }

  img {
	  width: 250px;
	  height: 250px;
  	border-radius: 50%;
	  overflow: hidden;
	  box-shadow: 0 5px 5px 0px rgba(0,0,0,0.6);
  }

  .upload-button {
    margin-top:20px
  }
  
  .footer {

    text-align: right;
    margin-right: 30px;

  }
  
  /* For desktop: */
  .col-1 {width: 40.00%;}
  .col-2 {width: 60.00%;}

  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }